#SNIP#
#first do this:
#dnf install direnv
#append to end of ~/.bashrc:
#eval "$(direnv hook bash)"
#
#EDITOR=vi direnv edit .
#then append the following lines to your dot .envrc, for example:
export CLOUDSDK_ACTIVE_CONFIG_NAME=quick-page-saver
export KUBECONFIG=`pwd`/.kube-config
